@tailwind preflight
@tailwind components
@tailwind utilities

// Background Cover Mixin

=background-cover
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  -o-background-size: cover

@import 'variables'
@import 'mixins'

.intro-call-to-action
  a
    @apply px-4 py-2 rounded bg-yellow-dark text-2xl text-white

section
  @apply w-full border-b mb-3
  h2
    @apply text-grey-darker

.skills
  .section-head
    @apply text-grey-darker text-3xl
    p
      @apply text-2xl text-grey-darker

// Skills Section
.skill-item
  @apply w-full px-3 text-lg text-grey-darker
  @screen sm
    @apply w-1/2
  @screen md
    @apply w-1/3 text-xl


// END Skills Section
.text-muted
  @apply text-grey-light

.text-primary
  color: $theme-primary !important



.intro-text
  @apply text-xl text-grey-darkest

.mast-header
  background-image: url("../images/DavePics/hug_70.svg")
  background-repeat: no-repeat
  background-attachment: scroll
  background-position: center center
  margin: 0

  +background-cover

  text-align: center
  color: white

  .mast-header-text
    margin: 3rem
    padding: 5rem
    color: #2a5278

    .intro-lead-in
      +serif-font
      +transparent(0.7, 7)

      font-style: italic
      font-size: 22px
      line-height: 22px

    .intro-heading
      +heading-font
      +transparent(0.8, 8)

      font-weight: 700
      font-size: 50px
      line-height: 50px
      margin-bottom: 25px

@media (min-width: 768px)
  .mast-header
    .mast-header-text
      @apply pt-24
      // padding-top: 300px
      // padding-bottom: 200px

      .intro-lead-in
        +serif-font

        font-style: italic
        font-size: 40px
        line-height: 40px
        margin-bottom: 25px

      .intro-heading
        +heading-font

        font-weight: 700
        font-size: 75px
        line-height: 75px
        margin-bottom: 50px




.btn:focus, .btn:active, .btn.active, .btn:active:focus
  outline: none
