

@import 'variables'

@tailwind preflight
@tailwind components
@tailwind utilities

.modal-backdrop
  z-index: -1 !important
// You Forgot The Alt Message
img[alt=""] img:not([alt])
  border: 5px dashed #c00

body
  @apply flex flex-col h-full
.content
  @apply -my-6 px-6 mx-auto

.debug_dump
  grid-column: span 12
  height: 125px
  max-height: auto
  border-radius: 1rem
  padding: 1rem
  clear: both
  float: left
  margin: 15px
  background-color: transparentize(grey, 0.3)
