@import 'variables'

.resume-container
  @apply  w-full flex flex-col mt-3

.resume-header
  background-color:  #EBAA1E
  background-image: url('../images/resume_header.jpg')
  @apply h-32 border-white border-b-4 rounded-lg bg-no-repeat bg-cover bg-right

  .resume-contact
    // @include transparent(0.85, 85)
    // transform: rotate(-90deg)
    // -webkit-transform: rotate(-90deg)
    // -moz-transform: rotate(-90deg)
    background-color:  #EBAA1E
    @apply text-center font-sans h-full flex flex-col w-64 border-r-4 border-white rounded-l-lg
    .social-links
      @apply text-center content-center mt-1 mx-auto items-center pb-4
    .resume-name
      a
        @apply text-white text-2xl no-underline
        &:hover
          @apply text-blue no-underline
    .resume-phone
      @apply text-white font-medium text-base
    .resume-email
      @apply text-white text-sm font-medium mb-2

.resume-summary
  @apply bg-blue-lighter p-4 px-8 rounded-lg
  h2
    @apply text-blue text-5xl float-left px-2  pr-3 align-middle leading-none
  p
    @apply text-xl leading-tight font-serif italic

.resume
  @apply flex flex-col-reverse text-blue-darkest
  h2
    @apply text-grey-darkest font-medium font-serif italic
  @screen sm
    @apply flex-row

.resume-sidebar
  @apply  mr-2 my-3 w-full
  p
    @apply text-base
  h3
    @apply p-2 text-3xl mb-2 text-grey-darkest
  // margin-top: 3rem
  // margin-right: 1rem
  li
    @apply list-reset
  .resume-experience-sidebar
    @apply  bg-blue-light rounded-lg pb-6
    h3
      @apply text-grey-darkest
    li
      @apply text-blue-darker font-bold mb-1 -ml-2 mx-auto
    .resume-experience-description
      @apply text-blue-lightest pb-2 -ml-4

  .resume-a-bit-about-me-sidebar
    // background-color: #79A092
    @apply bg-blue-light p-2 pb-8 -mt-2 rounded-lg
    p
      @apply text-blue-darker text-base px-1 pt-1

  .resume-education-sidebar
    // background-color: #607B9B
    @apply bg-blue-darkest text-white rounded-lg -mt-3 px-4 pt-1 pb-4
    ul
      @apply -ml-10
    h2
      @apply text-blue-lightest mb-2
    h4
      @apply font-thin mb-1
    .degree
      @apply ml-1 mb-4 text-sm text-blue-lighter italic

  .resume-activities-sidebar
    background-color: #e64141
    @apply bg-blue-darker p-4 pb-6 text-base text-blue-lightest -mt-4 rounded-lg
    h2
      @apply text-2xl text-blue-lighter
    li
      @apply list-reset -ml-10 leading-loose
  @screen sm
    @apply w-64

.resume-qualifications
  @apply bg-blue-lightest flex flex-col rounded-lg w-full
  h1
    @apply font-thin text-blue-darker
    @screen sm
      @apply hidden

.resume-skills
  @apply flex flex-col bg-yellow-light  py-2 text-base mt-1 leading-tight rounded-lg
  background-color:  #EBAA1E

  h2
    // @apply text-grey-darkest font-medium font-serif italic
  li
    @apply inline

  .resume-skills-list
    @apply text-blue-darker -ml-6
  @screen lg
    @apply flex-row

.resume-skills-group
  @apply flex flex-col mb-4

.resume-skills-set
  @apply float-right text-2xl text-blue-lightest inline-block w-48 pt-2 ml-6 mb-3

.resume-skills-items
  @apply  text-blue-darker text-base

.resume-job-title
  @apply text-lg my-2 text-blue-dark -mb-1

.resume-employment-dates
  @apply invisible leading-none font-semibold italic text-blue-dark

.resume-employer
  @apply text-grey-darkest mt-3 leading-none text-2xl text-grey-darkest

.resume-job-location
  display: none
  font-style: oblique
  font-weight: bold
  float: right
  margin-right: 1rem

.resume-experience-section
  // @include make-col(9)
  @apply p-4 text-base w-full


  .resume-job-experiences
    @apply text-blue-darkest
    li
      list-style-type: circle
      @apply leading-normal


.field-circle
  @apply float-right h-24 w-24 resize
.connect-icons
  color: #FFF
  &:hover
    color: #F5BB1C
    text-decoration: none
