@import 'variables'

.resume-container
  @apply flex flex-col mt-3 -mx-6

.resume-header
  @apply  border-white border-b-4 rounded-lg bg-no-repeat bg-cover bg-right z-0
  @screen sm
    background-image: url('../images/resume_header.jpg')
    @apply bg-green-300

  .resume-contact
    background-color:  #EBAA1E
    @apply w-full text-center content-center rounded-lg flex flex-col
    .social-links
      @apply mx-auto content-center items-center mb-1
    @screen sm
      @apply text-center font-sans h-full  w-64 border-r-4 border-white rounded-l-lg rounded-r-none
      .social-links
        @apply text-center content-center  mx-auto items-center pb-4
    .resume-name
      a
        @apply text-white text-2xl no-underline
        &:hover
          @apply text-blue-500 no-underline
    .resume-phone
      @apply text-white font-medium text-base
    .resume-email
      @apply text-white text-sm font-medium

.resume-summary
  @apply bg-blue-300 p-4 px-4 rounded-lg
  h2
    @apply text-blue-500 text-3xl float-left px-1  pr-2 align-middle leading-none
  p
    @apply text-base leading-tight text-blue-800
  @screen sm
    h2
      @apply text-4xl px-2  pr-3
    p
      @apply text-xl italic font-serif

.resume
  @apply flex flex-col-reverse text-red-500
  h2
    @apply text-gray-900 font-medium font-serif italic
  @screen sm
    @apply flex-row

.resume-sidebar
  @apply  mr-2 my-3 w-full
  p
    @apply text-base
  h3
    @apply p-2 text-red-300 mb-2 text-gray-900
  // margin-top: 3rem
  // margin-right: 1rem
  li
    @apply list-none
  .resume-experience-sidebar
    @apply  bg-blue-400 rounded-lg pb-6
    h3
      @apply text-gray-900
    li
      @apply text-blue-700 font-bold mb-1 -ml-2 mx-auto
    .resume-experience-description
      @apply text-blue-100 pb-2 -ml-4

  .resume-a-bit-about-me-sidebar
    @apply bg-blue-400 p-2 pb-8 -mt-2 rounded-lg
    h2
      @apply text-xl text-blue-900 ml-2
    p
      @apply text-blue-800 text-base px-1 pt-1 ml-2

  .resume-education-sidebar
    // background-color: #607B9B
    @apply bg-blue-900 text-white rounded-lg -mt-3 px-4 pt-1 pb-4
    ul
      @apply
    h2
      @apply text-blue-100 mb-2
    h4
      @apply font-thin mb-1
    .degree
      @apply ml-1 mb-4 text-sm text-blue-300 italic

  .resume-activities-sidebar
    @apply bg-blue-700 p-4 pb-6 text-base text-blue-100 -mt-4 rounded-lg
    h2
      @apply text-2xl text-blue-300
    li
      @apply list-none leading-loose
  @screen sm
    @apply w-64

.resume-qualifications
  @apply  flex flex-col rounded-lg w-full
  h1
    @apply font-thin text-blue-700
    @screen sm
      @apply

.resume-skills
  background-color:  #EBAA1E
  @apply text-center rounded-lg mt-1
  h2
    @apply text-gray-900 font-medium font-serif italic

  @screen sm
    @apply flex flex-col bg-yellow-400  py-2 text-sm mt-1 leading-tight rounded-lg
    background-color:  #EBAA1E


    h2
      @apply text-gray-900 font-medium font-serif italic
  li
    @apply inline

  .resume-skills-list
    @apply text-blue-700
  @screen lg
    @apply flex-row

.resume-skills-group
  @apply flex flex-col mb-4 px-8

.resume-skills-set
  @apply  text-blue-100 text-xl
  @screen sm

    @apply text-2xl pt-2 ml-6 mb-3
    svg
      @apply

.resume-skills-items
  @apply  text-blue-700 text-base -ml-4

.resume-job-title
  @apply text-lg my-2 text-blue-600 -mb-1

.resume-employment-dates
  @apply invisible leading-none font-semibold italic text-blue-600

.resume-employer
  @apply text-gray-900 mt-3 leading-none text-2xl text-gray-900

.resume-job-location
  display: none
  font-style: oblique
  font-weight: bold
  float: right
  margin-right: 1rem

.resume-experience-section
  @apply p-4 text-base w-full bg-white rounded-lg mt-2 text-blue-900
  .resume-job-experiences
    @apply text-blue-900
    li
      list-style-type: circle
      @apply leading-normal ml-8


.field-circle
  @apply float-right h-24 w-24 resize
.connect-icons
  color: #FFF
  &:hover
    color: #F5BB1C
    text-decoration: none
