%h2 Activities
%ul
  %li
    %i.fas.fa-skiing
    SKIING
  %li
    %i.fas.fa-guitar
    PLAYING GUITAR - WRITING THE OCCASIONAL SONG
  %li
    %i.fas.fa-dog
    HANGING WITH AND TRAINING OUR PETS
    %i.fas.fa-cat
  %li
    %i.fas.fa-hands-helping
    VOLUNTEERING
