.resume-experience-sidebar
  -# %h2 Experience
  %ul
    %li Project Management

    .resume-experience-description
      For any project to be successful, it needs to be tended, cared for, and nurtured to completion.  Every project that I have worked on has involved my direct interaction with the client and I recognize the importance of instilling confidence and delivering quality results.

    %li Instructional Technology
    .resume-experience-description
      I have worked collaboratively with educators at various levels of competency to help them effectively integrate and leverage technology in their instruction.

    %li Public Speaking
    .resume-experience-description
      I am comfortable speaking extemporaneously with individuals, groups and in front of thousands of people.

    %li Leadership
    .resume-experience-description
      I think that excellent leaders approach their roles as providing support and resources that allow and encourage those around them to succeed.  An effective manager understands the strengths and weaknesses of their staff, removes barriers to their success and inspires them to excel.
