
%section#team
  .section-head
    %h2 Roles I play
    %h3.section-subheading These are some of the roles I play.
  .roles.flex.flex-row
    .p-2
      = image_tag(asset_pack_path('media/davechmura_website/images/DavePics/davechmura_aboutme.png'), alt: 'Dave Chmura holding a gaggle of Apple Puck Mice', class: 'shadow-inner rounded-full')
      %h4 Dave Chmura
      %p.text-muted Product Manager
    .p-2
      = image_tag(asset_pack_path('media/davechmura_website/images/DavePics/davechmura_aboutme.png'), alt: 'Dave Chmura holding a gaggle of Apple Puck Mice', class: ' rounded-full')
      %h4 Dave Chmura
      %p.text-muted Developer
    .p-2
      = image_tag(asset_pack_path('media/davechmura_website/images/DavePics/davechmura_aboutme.png'), alt: 'Dave Chmura holding a gaggle of Apple Puck Mice', class: 'rounded-full')
      %h4 Dave Chmura
      %p.text-muted Mentor


  -# asset_pack_path('media/
  -# asset_pack_path('media/davechmura_website/images/