
/ Header
.mast-header.-mx-16.-mt-10

  .mast-header-text
    .intro-lead-in Chief Instigator, passionate developer, mentor.
    .intro-heading Let's work together!
    .intro-call-to-action
      %a.page-scroll{:href => "#skills"} Tell Me More

= render 'intro_text'

= render 'skills'
-# = render 'services'
-# = render 'portfolio'
-# = render 'about_timeline'

= render 'team'

-# = render 'clients'
/ Contact

-# = render 'portfolio_modals'
